@model TMP2019.Models.DataModels.TMPHockeyModels.ViewModels.GamesListViewModel
@{
    ViewData["Title"] = "POrestGames";
}

    <h1>POrest Scheduled Games</h1>
<div>
    <a class="btn btn-sm btn-success" asp-controller="Home" asp-action="Lists">Back to Home Lists</a>
    <a class="btn btn-sm btn-success" asp-controller="GameLists" asp-action="POrestGamesStarted">Go to Started P.Orest Games</a>
    <a class="btn btn-sm btn-success" asp-controller="GameLists" asp-action="POrestGamesFinal">Go to Final P.Orest Games</a>
    <a class="btn btn-sm btn-success" asp-controller="GameLists" asp-action="POrestGamesArchived">Go to Archived P.Orest Games</a>
    <a class="btn btn-sm btn-success" asp-controller="Games" asp-action="Index">Go to Games List</a>
</div>
<table class="table table-responsive-sm table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Games[0].GameCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Games[0].TSMNumber)
            </th>
            <th>

                @Html.DisplayNameFor(model => model.Games[0].GameNumber)
            </th>
            <th>

                @Html.DisplayNameFor(model => model.Games[0].GameDateTime)
            </th>
            <th>

                @Html.DisplayNameFor(model => model.Games[0].Arena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Games[0].HomeTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Games[0].AwayTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Games[0].Result)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Games[0].HD1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Games[0].HD2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Games[0].LD1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Games[0].LD2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Games[0].GameStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Games.OrderBy(g => g.GameDateTime))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GameCategory.GameCategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TSMNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GameNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GameDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Arena.ArenaName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HomeTeam.TeamName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AwayTeam.TeamName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Result)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.HD1.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HD2.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LD1.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LD2.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GameStatus.GameStatusName)
                </td>
                <td>
                    <a class="btn btn-sm btn-success" asp-controller="Games" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-sm btn-success" asp-controller="Games" asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
