@model TMP2019.Models.DataModels.AccountingModels.DataModels.RefFee

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RefFee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeeCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeeCategory.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GameCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GameCategory.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeeHD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeeHD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeeLD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeeLD)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
