@model IEnumerable<TMP2019.Models.DataModels.TMPHockeyModels.Game>

@{
    ViewData["Title"] = "Index";
}

<h1>TMP Games</h1>
<div>
    <a class="btn btn-sm btn-success" asp-action="Create">Create Game !</a>
    <a class="btn btn-sm btn-success" asp-controller="Home" asp-action="Lists">Go to Home Lists</a>
    <a class="btn btn-sm btn-success" asp-controller="GameLists" asp-action="ScheduledGames">Go to Scheduled Games</a>
    <a class="btn btn-sm btn-success" asp-controller="GameLists" asp-action="StartedGames">Go to Started Games</a>
    <a class="btn btn-sm btn-success" asp-controller="GameLists" asp-action="FinalGames">Go to Final Games</a>
    <a class="btn btn-sm btn-success" asp-controller="GameLists" asp-action="ArchivedGames">Go to Archived Games</a>
</div>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by Arena: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a class="btn btn-sm btn-success" asp-action="Index">Back to Scheduled Games</a>
        </p>
    </div>
</form>
@*<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by Status: <input type="text" name="SearchString1" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>*@
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["GameCategorySortParm"]">@Html.DisplayNameFor(model => model.GameCategory.GameCategoryName)</a>
                @*@Html.DisplayNameFor(model => model.GameCategory)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TSMNumber)
            </th>
            <th>

                @Html.DisplayNameFor(model => model.GameNumber)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">@Html.DisplayNameFor(model => model.GameDateTime)</a>
                @* @Html.DisplayNameFor(model => model.GameDateTime)*@
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ArenaSortParm"]">@Html.DisplayNameFor(model => model.Arena.ArenaName)</a>
                @* @Html.DisplayNameFor(model => model.Arena)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomeTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AwayTeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HD1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HD2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LD1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LD2)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["StatusSortParm"]">@Html.DisplayNameFor(model => model.GameStatus.GameStatusName)</a>
                @* @Html.DisplayNameFor(model => model.GameStatus)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GameCategory.GameCategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TSMNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GameNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GameDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Arena.ArenaName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HomeTeam.TeamName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AwayTeam.TeamName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Result)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.HD1.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HD2.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LD1.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LD2.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GameStatus.GameStatusName)
                </td>
                <td>
                    <a class="btn btn-sm btn-success" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-sm btn-success" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    
                </td>
            </tr>
        }
    </tbody>
</table>
