@model IEnumerable<TMP2019.Models.DataModels.AccountingModels.DataModels.GameReceipt>

@{
    ViewData["Title"] = "Index";
}

<h1>Game Receipts</h1>
<div class="row">
    <div class="col-sm-2">
        <p>Total Payment HD1:</p>
    </div>
    <div class="col-sm-2">
        @Model.Sum(gr => gr.HD1TotalFee)
    </div>
    <div class="col-sm-2">
        <p>Total Payment HD2:</p>
    </div>
    <div class="col-sm-2">
        @Model.Sum(gr => gr.HD2TotalFee)
    </div>
    <div class="col-sm-2">
        <p>Payment Total:</p>
    </div>
    <div class="col-sm-2">
        @Model.Sum(gr => gr.GameTotalKost)
    </div>
</div>

<p>
    <a class="btn btn-sm btn-success" asp-action="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Game.GameDateTime)</th>
            <th>@Html.DisplayNameFor(model => model.Game.Arena)</th>
            <th>@Html.DisplayNameFor(model => model.Game.HomeTeam)</th>
            <th>@Html.DisplayNameFor(model => model.Game.AwayTeam)</th>

            <th>@Html.DisplayNameFor(model => model.HD1)</th>
            @*  <th>@Html.DisplayNameFor(model => model.HD1Fee)</th>
        <th>@Html.DisplayNameFor(model => model.HD1TravelKost)</th>
        <th>@Html.DisplayNameFor(model => model.HD1Alowens)</th>
        <th>@Html.DisplayNameFor(model => model.HD1LateGameKost)</th>*@
            <th>@Html.DisplayNameFor(model => model.HD1TotalFee)</th>

            <th>@Html.DisplayNameFor(model => model.HD2)</th>
            @*   <th>@Html.DisplayNameFor(model => model.HD2Fee)</th>
        <th>@Html.DisplayNameFor(model => model.HD2TravelKost)</th>
        <th>@Html.DisplayNameFor(model => model.HD2Alowens)</th>
        <th>@Html.DisplayNameFor(model => model.HD2LateGameKost)</th>*@
            <th>@Html.DisplayNameFor(model => model.HD2TotalFee)</th>

            <th>@Html.DisplayNameFor(model => model.LD1)</th>
            @*  <th>@Html.DisplayNameFor(model => model.LD1Fee)</th>
        <th>@Html.DisplayNameFor(model => model.LD1TravelKost)</th>
        <th>@Html.DisplayNameFor(model => model.LD1Alowens)</th>
        <th>@Html.DisplayNameFor(model => model.LD1LateGameKost)</th>*@
            <th>@Html.DisplayNameFor(model => model.LD1TotalFee)</th>

            <th>@Html.DisplayNameFor(model => model.LD2)</th>
            @* <th>@Html.DisplayNameFor(model => model.LD2Fee)</th>
        <th>@Html.DisplayNameFor(model => model.LD2TravelKost)</th>
        <th>@Html.DisplayNameFor(model => model.LD2Alowens)</th>
        <th>@Html.DisplayNameFor(model => model.LD2LateGameKost)</th>*@
            <th>@Html.DisplayNameFor(model => model.LD2TotalFee)</th>

            <th>@Html.DisplayNameFor(model => model.GameTotalKost)</th>

            <th>@Html.DisplayNameFor(model => model.ReceiptStatus)</th>


            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrderBy(g=>g.Game.GameNumber)) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Game.GameDateTime)</td>
            <td>@Html.DisplayFor(modelItem => item.Game.Arena.ArenaName)</td>
            <td>@Html.DisplayFor(modelItem => item.Game.HomeTeam.TeamName)</td>
            <td>@Html.DisplayFor(modelItem => item.Game.AwayTeam.TeamName)</td>

            <td>@Html.DisplayFor(modelItem => item.HD1.FullName)</td>
            @*<td>@Html.DisplayFor(modelItem => item.HD1Fee)</td>
        <td>@Html.DisplayFor(modelItem => item.HD1TravelKost)</td>
        <td>@Html.DisplayFor(modelItem => item.HD1Alowens)</td>
        <td>@Html.DisplayFor(modelItem => item.HD1LateGameKost)</td>*@
            <td>@Html.DisplayFor(modelItem => item.HD1TotalFee)</td>

            <td>@Html.DisplayFor(modelItem => item.HD2.FullName)</td>
            @*   <td>@Html.DisplayFor(modelItem => item.HD2Fee)</td>
        <td>@Html.DisplayFor(modelItem => item.HD2TravelKost)</td>
        <td>@Html.DisplayFor(modelItem => item.HD2Alowens)</td>
        <td>@Html.DisplayFor(modelItem => item.HD2LateGameKost)</td>*@
            <td>@Html.DisplayFor(modelItem => item.HD2TotalFee)</td>

            <td>@Html.DisplayFor(modelItem => item.LD1.FullName)</td>
            @*  <td>@Html.DisplayFor(modelItem => item.LD1Fee)</td>
        <td>@Html.DisplayFor(modelItem => item.LD1TravelKost)</td>
        <td>@Html.DisplayFor(modelItem => item.LD1Alowens)</td>
        <td>@Html.DisplayFor(modelItem => item.LD1LateGameKost)</td>*@
            <td>@Html.DisplayFor(modelItem => item.LD1TotalFee)</td>

            <td>@Html.DisplayFor(modelItem => item.LD2.FullName)</td>
            @*   <td>@Html.DisplayFor(modelItem => item.LD2Fee)</td>
        <td>@Html.DisplayFor(modelItem => item.LD2TravelKost)</td>
        <td>@Html.DisplayFor(modelItem => item.LD2Alowens)</td>
        <td>@Html.DisplayFor(modelItem => item.LD2LateGameKost)</td>*@
            <td>@Html.DisplayFor(modelItem => item.LD2TotalFee)</td>

            <td>@Html.DisplayFor(modelItem => item.GameTotalKost)</td>

            <td>@Html.DisplayFor(modelItem => item.ReceiptStatus.ReceiptStatusName)</td>

            <td>
                <a class="btn btn-sm btn-success" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-sm btn-success" asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a class="btn btn-sm btn-success" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
